DATASET:
  TEST_ROOT_DIRS: []
  TRAIN_ROOT_DIRS: []
DATA_LOADER:
  NUM_WORKERS: 8
  PIN_MEMORY: True
INPUT:
  DEPTH: 3
  IMAGE_SIZE: [512, 512]
MODEL:
  ARCHITECTURE: ResUnetPlusPlus
  CLASS_LABELS: [background, fog, cloud]
  DEVICE: cuda
  PRETRAINED_WEIGHTS:
OUTPUT_DIR: outputs/test
SOLVER:
  BATCH_SIZE: 32
  LR: 1e-4
  MAX_EPOCH: 100
  TYPE: Adam
TENSORBOARD:
  ALPHA_BLENDING: 0.15
  BEST_SAMPLES_NUM: 32
  WORST_SAMPLES_NUM: 32
